<div class="footer row">
    <div class="span12">
        <ul class="social-items">
            <li><a rel="tooltip" title="Twitter" href="http://twitter.com/jfilipe" class="icons-twitter">Twitter</a></li>
            <li><a rel="tooltip" title="Facebook" href="http://facebook.com/jfilipe" class="icons-facebook">Facebook</a></li>
            <li><a rel="tooltip" title="LinkedIn" href="http://linkedin.com/in/jasonfilipe" class="icons-linkedin">LinkedIn</a></li>
            <li><a rel="tooltip" title="GitHub" href="http://github.com/jfilipe" class="icons-github">GitHub</a></li>
            <li><a rel="tooltip" title="BitBucket" href="http://bitbucket.org/jfilipe" class="icons-bitbucket">Bitbucket</a></li>
            <li><a rel="tooltip" title="Dribbble" href="http://dribbble.com/jfilipe" class="icons-dribbble">Dribbble</a></li>
            <li><a rel="tooltip" title="Email" href="mailto:jason@filipe.ca" class="icons-email">Email</a></li>
        </ul>
    </div>
</div>